.nav-area li{
    display: inline;
    margin-right: 40px;
    font-weight: 600;
    font-size: large; 
}
.nav-area {
    float: right;
}
li a{
    color: white;
}
li a:hover{
    background-color:black;
}
body{
    background-color: #033E61;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}
h1{
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 4px 4px blue;
}
img{
	float: right;
	padding-right: 100px;
	height: 300px;
}
p{
	font-size: 20px;
    padding: 10px;
}
.editor{
    color: white;
}
